include ../mixins/mixins 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
        link(rel="icon" href="https://www.pngkey.com/png/full/106-1069100_green-kiwi-bird-png-images.png")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dwitter
    body 
        script. 
            const userLoggedIn = !{userLoggedInJs}; /* Tomar el payload e inyectarlo */
        .wrapper 
            .row    
                nav.col-2
                    a.greenish(href="/")
                        i.fas.fa-kiwi-bird 
                    a(href="/")
                        i.fas.fa-home 
                    a(href="/search")
                        i.fas.fa-search 
                    a(href="/notifications")
                        i.fas.fa-bell 
                    a(href="/messages")
                        i.fas.fa-envelope 
                    a(href="/profile")
                        i.fas.fa-user 
                    a(href="/logout")
                        i.fas.fa-sign-out-alt 
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer 
                        h1 #{pageTitle}
                    block content
                .d-none.d-md-block.col-md-2.col-lg-4

        script( src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous")
        script(src='https://kit.fontawesome.com/6d8b2a144e.js' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js")

        block scripts 
        
        script(src='/scripts/common.js')


