extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Login 
        form(method="post") 
            input(type="text", name="logUsuario", placeholder="Usuario o email", required="") 
            input(type="password", name="logContraseña", placeholder="Contraseña", required="")
            input(type="submit", value="Ingresar")
        a(href="/signup") ¿Necesitás una cuenta? ¡Registrate!
