extends layouts/main-layout.pug

block content
    if errorMessage 
        span.errorMessage #{errorMessage}
    else 
        script. 
            const chatId = '!{chat._id}'
        .chatPageContainer 
            .chatTitleBarContainer 
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal") 
            .mainContentContainer 
                .loadingSpinnerContainer 
                    img(src="/images/loading.gif", alt="Cargando")
                .chatContainer(style="visibility: hidden")
                    ul.chatMessages
                    .typingDots 
                        img(src="/images/typing.gif", alt="")
                    .footer 
                        textarea.inputTextbox(name="messageInput", placeholder="Escribí un mensaje..") 
                        button.sendMessageButton 
                            i.fas.fa-paper-plane
        +createChatNameModal(chat)

block scripts 
    script(src="/scripts/chatPage.js") 
