extends layouts/main-layout.pug

block content
    // Inyectar mixin 
    +createPostForm(userLoggedIn)
    .postContainer
    .loadingSpinnerContainer 
        img(src="/images/typing.gif", alt="Cargando")

    +createPostModals(userLoggedIn)

block scripts 
    script(src="/scripts/home.js") 
