extends layouts/main-layout.pug

block content
    .resultsContainer

block headerButton  
    a(href="/messages/new")
        i.far.fa-plus-square

block scripts 
    script(src="/scripts/inboxPage.js") 
