extends layouts/login-layout.pug

block content 
    .loginContainer 
        i.fas.fa-kiwi-bird                
        
        
        form(method="post") 
            p.errorMessage #{errorMessage}

            input(type="text", name="usuario", placeholder="Usuario o email", value="admin" required="") 
            input(type="password",  name="password", placeholder="Contraseña", required="", value="admin")
            input(type="submit", value="Ingresar")
        a(href="/signup") ¿Necesitás una cuenta? ¡Registrate!
        script(src='https://kit.fontawesome.com/6d8b2a144e.js' crossorigin='anonymous')
