extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Login 
        form(method="post") 
            p.errorMessage #{errorMessage}

            input(type="text", name="usuario", placeholder="Usuario o email", value="admin" required="") 
            input(type="password",  name="password", placeholder="Contraseña", required="", value="admin")
            input(type="submit", value="Ingresar")
        a(href="/signup") ¿Necesitás una cuenta? ¡Registrate!
