extends layouts/main-layout.pug

block content
    .resultsContainer

block headerButton  
    button#markNotificationsAsRead
        i.fas.fa-check-double

block scripts 
    script(src="/scripts/notificationsPage.js") 
