extends layouts/main-layout.pug

block content
    script. 
        var postId = '!{postId}'
    
    .postContainer

    +createPostModals(userLoggedIn)



block scripts 
    script(src="/scripts/postPage.js") 
