extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Registro 

        form#formulario(method="post", onsubmit="event.preventDefault(); validarFormulario();") 
            input(type="text", name="nombre", placeholder="Nombre", required="") 
            input(type="text", name="apellido", placeholder="Apellido", required="") 
            input(type="text", name="usuario", placeholder="Usuario", required="") 
            input(type="email", name="email", placeholder="Email", required="") 
            input#contrasenia(type="password", name="contraseña", placeholder="Contraseña", required="")
            input#confirmarContrasenia(type="password", name="confirmarContraseña", placeholder="Confirmar contraseña", required="")
            input(type="submit", value="Registrarme")

        a(href="/login") ¿Ya tenés una cuenta? Ingresá!

    script. 
        const campoContraseña = document.getElementById("contrasenia");
        const confirmacionContraseña = document.getElementById("confirmarContrasenia");
        const form = document.getElementById("formulario");

        const validarFormulario = () => {
            campoContraseña.value !== confirmacionContraseña.value ? alert ("Las contraseñas no coinciden") : form.submit();
        }


