:root {
  --greenish-blue: #16A085;
  --greenish-blue-light: #5aaa9a;
  --grey: #95A5A6;
  --hover-grey: #7F8C8D;
  --spacing: 15px;
}

a {
    color: inherit;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    color: var(--grey);
    justify-content: center;
    align-items: center;
    

}

nav a:hover {
    color: var(--hover-grey);
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    color:  var(--greenish-blue);
}

button i,
button span {
    pointer-events: none;
}

nav a.greenish {
    color: var(--greenish-blue);
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--grey);
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    flex-shrink: 0; /* Fix para Safari */
}

.titleContainer h1 {
    flex: 1;
    font-weight: 600;
    font-size: 20px;
}

.postFormContainer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0;
    border-bottom: 6px solid var(--greenish-blue);
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal.post {
    padding: 0 0 5px 0;
}

.imagenUsuarioContainer {
width: 50px;
height: 50px;
}

.imagenUsuarioContainer img{
    width: 100%;
    margin-top: 10px;
    border-radius: 50%;
    background-color: white;
}

.textAreaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textAreaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
    outline: #5aaa9a;
}

#enviarPostButton {
    background-color: var(--greenish-blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;
}

#enviarPostButton:disabled {
    background-color: var(--grey);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--grey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex:1;
}

.header a,
.header span {
    padding-right: 5px;
}

.displayName {
    font-weight: bold;
}

.displayName:hover {
    color: black;
}

.containerActions {
    justify-content: end;
    display: flex;
    margin-top: 10px;
}

.containerActions .postFooter {
flex: 1;
display: flex;
}

.postFooter .postBotonesContainer button {
    margin: 0 15px;
    
}

.postBotonesContainer {
    text-align: right;   
}

.postBotonesContainer button:hover {
    color: var(--grey);   
}

.usuario, .date {
   color: var(--grey);
}

.postBotonesContainer.red button.active {
    color: red;
}

.postBotonesContainer.green button.active {
    color: green;
}

.postBotonesContainer.green button.hover {
    color: var(--grey);  
}

.likeButton:focus, .redweetButton:focus {
    outline: none;
}

.postActionContainer {
    padding-left: 35px;
    font-size: 13px;
    color: var(--grey);
    margin-bottom: 3px;
}

.respuestaFlag {
    margin-bottom: 5px;
}

.respuestaFlag a {
    color: var(--greenish-blue);
}








